<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                   
                </div>
                <div class="sidebar-brand-text mx-3">Admin <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

         

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <div
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 font-weight-bold text-">
                        General Report
                    </div>

                    <!-- Topbar Navbar -->
                 

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <!-- Middle Content -->
                <div class="container-fluid">


                    
                    <div class="row">


                        <!-- Yield -->
                        <div class="col-lg-4 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h5 class="mx-2 font-weight-bold text-primary d-inline ">Yield</h5>

                                </div>
                                <div class="card-body">
                                    <h6 class=" font-weight-bold">General Information</h6>


                                    <!-- Chart -->
                                    <div class="font-weight-bold my-5">By Cycle</div>
                                    
                                        <div class="vr"></div>
                              
                                    <h6 class=" font-weight-bold my-3">By field</h6>


                                    <div class="row">
                                        <div class="col-lg-4 mb-4">
                                            <div class="text-black-50 font-weight-bold">
                                                Field
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <div class="text-black-50 font-weight-bold">
                                                Yield
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <div class="text-black-50 font-weight-bold  ">
                                                 Difference
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="row ">
                                        <div class="col-lg-4 mb-4 ">
                                            <div class="text-black-50 small font-weight-bold my-3">Less Vigeness
                                                <div class="text-black-50  small">Area 22.1 ha</div>
                                            </div>
                                            <div class="text-black-50 font-weight-bold small my-3">Mont Leviss
                                                <div class="text-black-50  small">Area 18.1 ha</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <div class="text-black-50 my-4 small">58,123 Kg</div>
                                            <div class="text-black-50 my-4 small">48,452 Kg</div>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <div class="  text-success my-4 small">+13.1%</div>
                                            <div class="  text-success my-4 small">+35.1%</div>
                                        </div>
                                        
                                    </div>

                                

                                </div>
                            </div>


                        </div>

                        <!-- Wheat -->
                        <div class="col-lg-4 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <img class="h-25 w-20 " src="Wheat_img.jpg" alt="">
                                    <h5 class="mx-2 font-weight-bold text-primary d-inline ">Winter Wheat</h5>

                                </div>
                                <div class="card-body">
                                    <h6 class=" font-weight-bold">General Information</h6>

                                    <!--yield card -->
                                    <div class="row my-4">

                                        <div class="col-lg-6 ">

                                            <div class="">
                                                Yield
                                                <div class="text-black-50 font-weight-bold">242,600 KG</div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">

                                            <div class="">
                                                Yield per ha
                                                <div class="text-black-50 font-weight-bold">4600 Kg/ha</div>
                                            </div>

                                        </div>
                                    </div>


                                    <!-- Total hours -->
                                    <div class="row">


                                        <div class="col-lg-6 mb-4">
                                            <div class="text-black-50 small">
                                                Total Hours
                                                <div class="text-black-50 font-weight-bold">350h 14m</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb-4">
                                            <div class="text-black-50 small">
                                                Effective Hours
                                                <div class="text-black-50 font-weight-bold">250h 20m</div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 55%"
                                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="row">


                                        <div class="col-lg-6 mb-4">
                                            <div class="text-black-50 small">
                                                Total Distance
                                                <div class="text-black-50 font-weight-bold">3501.33 Km</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb-4">
                                            <div class="text-black-50 small">
                                                Effective Distance
                                                <div class="text-black-50 font-weight-bold ">2145.78 Km</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 65%"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>




                                    <div class="row">


                                        <div class="col-lg-6 mb-4">
                                            <div class="text-black-50 small">
                                                Fuel Consumed
                                                <div class="text-black-50 font-weight-bold">412.5 L of diesel</div>
                                            </div>
                                        </div>


                                    </div>


                                    <h6 class="my-2 font-weight-bold">Budget</h6>
                                    <!-- Expanses -->
                                    <div class="row">


                                        <div class="col-lg-6 mb-4">
                                            <div class="text-black-50 small">
                                                Total Expenses
                                                <div class=" font-weight-bold text-danger">$12341.12 </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb-4">
                                            <div class="text-black-50 small">
                                                Expenses per Ha
                                                <div class="text-danger font-weight-bold ">$828.20/ha</div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Revenue -->
                                    <div class="row">


                                        <div class="col-lg-6 mb-4">
                                            <div class="text-black-50 small">
                                               Revenue
                                                <div class="text-success font-weight-bold ">$24,600.00</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb-4">
                                            <div class="text-black-50 small">
                                                Revenue per Ha
                                                <div class="text-success font-weight-bold ">1589.21/ha</div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Profit -->
                                    <div class="row">


                                        <div class="col-lg-6 mb-4">
                                            <div class="text-black-50 small">
                                                Profit
                                                <div class="text-success font-weight-bold">$12,158.88</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb-4">
                                            <div class="text-black-50 small">
                                                Profit per Ha
                                                <div class="text-success font-weight-bold ">$760.91/ha</div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                          

                        </div>

                        <!-- Corn -->
                        <div class="col-lg-4 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <img class="h-25 w-15 " src="corn_img.jpg" alt="">
                                    <h5 class="mx-2 font-weight-bold text-primary d-inline ">Corn</h5>

                                </div>
                                <div class="card-body">
                                    <h5 class=" font-weight-bold">Tasks</h5>
                                    <h6 class=" font-weight-bold my-3">Operations</h6>
                                    <!--yield card -->

                                    <!-- <div class="card-body">
                                                <div class="chart-pie pt-4 pb-2">
                                                    <canvas id="myPieChart"></canvas>
                                                </div>
                                                <div class="mt-4 text-center small">
                                                    <span class="mr-2">
                                                        <i class="fas fa-circle text-primary"></i> Direct
                                                    </span>
                                                    <span class="mr-2">
                                                        <i class="fas fa-circle text-success"></i> Social
                                                    </span>
                                                    <span class="mr-2">
                                                        <i class="fas fa-circle text-info"></i> Referral
                                                    </span>
                                                </div>
                                            </div> -->


                                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

                                
                                        <div id="myPlot"></div>

                                        <script>
                                            var xArray = ["Italy", "France", "Spain", "USA", "Argentina"];
                                            var yArray = [55, 49, 44, 24, 15];

                                            var layout = { title: "" };

                                            var data = [{ labels: xArray, values: yArray, hole: .9, type: "pie" }];

                                            Plotly.newPlot("myPlot", data, layout);
                                        </script>








                                </div>
                            </div>


                        </div>


                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Research &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>